@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  @apply h-0 w-0 rounded-full/* Width of the scrollbar */;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-custom {
  animation: spin 50s linear infinite; /* 2 seconds for one full rotation */
}

.custom-shadow {
  box-shadow: 3px 3px 4px 0px gray;
}
